.table td.align-right {
    text-align: right;
}

.table td.align-left {
    text-align: left;
}

.table td.align-center {
    text-align: center;
}

#result_list {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
